* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: teal;
}
#nav {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: white;
  margin-bottom: 10%;
}

#nav > div {
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-right: 2%;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

#nav > div:hover {
  background-color: rgb(245, 76, 76);
}

#profile_section {
  display: flex;
  margin-bottom: 10%;
}
#image_section {
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
  margin-left: 5%;
}
#image_section > img {
  width: 300px;
  height: 110%;
  border-radius: 600px;
}

#profile_section > div > h2 {
  padding: 10px 30px 10px 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 20px 100px 10px 100px;
}
#profile_section > div > p {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 20px 100px 10px 100px;
}

#profile_section > div > h2:first-child {
  border: 1px solid red;
  font-size: 40px;
}

#skills_section {
  margin-top: 20%;
}
#container4 {
  display: 6px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#container4 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;

  height: 200px;
  /* background-color: whitesmoke; */
}

#container4 > div:hover {
  background-color: rgb(245, 76, 76);
}

#container4 > div > img {
  height: 100%;
  background-color: white;
}

#skill {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  border: 1px solid red;
  background-color: white;
  border-radius: 20px;
  margin: 0px 90px 0px 90px;
}

#project_section {
  margin-top: 20%;
  margin-bottom: 20%;
}
#project {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 20px;
  margin: 0px 90px 0px 90px;
  margin-bottom: 100px;
}

#gearbest {
  /* border: 1px solid red; */
  height: 30%;
  width: 30%;
  margin-left: 6%;
  border-radius: 10px;
}

#contact_section {
  margin-top: 20%;
  margin-bottom: 20%;
}
#contact {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 20px;
  margin: 0px 90px 0px 90px;
  margin-bottom: 100px;
}
