* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: teal;
}
#nav {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: end;
  padding: 10px;
  background-color: white;
  margin-bottom: 10%;
}

#nav > div {
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-right: 2%;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
}
#profile_section {
  display: flex;
  margin-bottom: 10%;
}
#image_section {
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
  margin-left: 5%;
  
}
#image_section > img {
  width: 300px;
  height: 110%;
  border-radius: 600px;
}

#profile_section > div > p {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 20px 100px 10px 100px;
}
#profile_section > div > p:first-child {
  /* border: 1px solid red; */
  font-size: 40px;
  text-decoration: underline;

}
